@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(124.64deg, #00985b 0%, #000000 186%);
  background-repeat: no-repeat;
  background-size: cover;
}

.signin .container-fluid {
  padding: 50px 0 95px 0;
}

.signin .form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #198754;
  background: transparent;
  color: #198754;
}

.signin .form-control::placeholder {
  color: #198754;
}

.signin button {
  border-radius: 200px;
  padding: 10px 80px;
}

.signin .btn-signin {
  background-color: #198754;
}

.signin .btn-signin:hover {
  background-color: #00492c;
}

.signin .btn-login {
  background-color: #ffffff;
  border-color: #198754;
  color: #198754;
}

.signin .btn-login:hover {
  background-color: #198754;
  border-color: #198754;
  color: #ffffff;
}

.signin .already a {
  text-decoration: none;
}
